:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #eceff4;
}

body,
html {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #282d39;
  /* background-image: linear-gradient(to top right, #2e3440, #3b4252, #434c5e); */
  text-align: center;
}
.router-link-active {
  height: 100% !important;
}
._NavBar_1dn0k_1[data-v-7acc5b8d] {
  display: flex;
  position: absolute;
  top: 1%;
  left: 0;
  width: 100%;
  height: 4rem;
  justify-content: center;
  align-items: center;
}
._NavBar_1dn0k_1 ._nav_1dn0k_11[data-v-7acc5b8d] {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  color: #eceff4;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 0.75rem;
  align-items: center;
}
._NavBar_1dn0k_1 ._nav_1dn0k_11 ._navLink_1dn0k_24[data-v-7acc5b8d] {
  display: flex;
  height: 75%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.15s;
}
._NavBar_1dn0k_1 ._nav_1dn0k_11 ._navLink_1dn0k_24 svg[data-v-7acc5b8d] {
  width: 50%;
  aspect-ratio: 1;
}
._NavBar_1dn0k_1 ._nav_1dn0k_11 ._navLink_1dn0k_24 svg path[data-v-7acc5b8d] {
  fill: currentColor;
}
._NavBar_1dn0k_1 ._nav_1dn0k_11 ._navLink_1dn0k_24[data-v-7acc5b8d]:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(236, 239, 244, 0.6);
}
._NavBar_1dn0k_1 ._nav_1dn0k_11 a[data-v-7acc5b8d] {
  color: #eceff4;
}
@font-face {
  font-family: "JetBrainsMono-Bold";
  src: url("/assets/JetBrainsMono-Bold.ce4dff4e.ttf");
}
@font-face {
  font-family: "JetBrainsMono-ExtraBold";
  src: url("/assets/JetBrainsMono-ExtraBold.754ab9bd.ttf");
}
@font-face {
  font-family: "JetBrainsMono-SemiBold";
  src: url("/assets/JetBrainsMono-SemiBold.808c6df3.ttf");
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("/assets/JetBrainsMono-Medium.14708d08.ttf");
}
@keyframes _yuki_4b9u8_1-ce5f729e {
0% {
    transform: translateY(-2%);
}
50% {
    transform: translateY(2%);
}
100% {
    transform: translateY(-2%);
}
}
._Home_4b9u8_12[data-v-ce5f729e] {
  display: flex;
  width: 80%;
  height: 70%;
  flex-direction: column;
  font-family: "JetBrainsMono-SemiBold", sans-serif;
  justify-content: space-around;
  align-items: center;
}
._Home_4b9u8_12 ._icon_4b9u8_21[data-v-ce5f729e] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 5px;
  outline: solid 3px #eceff4;
}
._Home_4b9u8_12 ._body_4b9u8_31[data-v-ce5f729e] {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}
._Home_4b9u8_12 ._body_4b9u8_31 header._Header_4b9u8_38[data-v-ce5f729e] {
  font-family: "JetBrainsMono-Bold", sans-serif;
  font-size: 4.5rem;
}
._Home_4b9u8_12 ._body_4b9u8_31 ._description_4b9u8_42[data-v-ce5f729e] {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-family: "JetBrainsMono", sans-serif;
  margin-top: 5%;
}
._Home_4b9u8_12 ._body_4b9u8_31 ._description_4b9u8_42 p[data-v-ce5f729e] {
  font-size: 1.3rem;
}
._divider_4b9u8_53[data-v-ce5f729e] {
  width: 100%;
  height: 100px;
  position: absolute;
  left: 0px;
  bottom: 0;
  background: linear-gradient(to right bottom, #282d39 49%, #3b4252 50%), linear-gradient(-50deg, #3b4252 16px, #000 0);
}
._extra-content_4b9u8_62[data-v-ce5f729e] {
  width: 100%;
  height: 30%;
  text-align: left;
  display: flex;
  flex-direction: row;
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
}
._extra-content_4b9u8_62 ._item_4b9u8_72[data-v-ce5f729e] {
  border-radius: 0.2rem;
  outline: solid 2px #eceff4;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1%;
  transition: background-color 0.2s;
}
._extra-content_4b9u8_62 ._item_4b9u8_72 a[data-v-ce5f729e] {
  text-decoration: none;
  color: #0066cc;
  transition: color 0.2s;
}
._extra-content_4b9u8_62 ._item_4b9u8_72 a[data-v-ce5f729e]:hover {
  color: rgba(0, 102, 204, 0.6);
}
._extra-content_4b9u8_62 ._item_4b9u8_72[data-v-ce5f729e]:hover {
  background-color: rgba(255, 255, 255, 0);
}._About_1d2pv_1[data-v-701615b0] {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3rem;
  gap: 5%;
  outline: solid 3px #eceff4;
  width: 30%;
  height: 70%;
  font-family: "JetBrainsMono-SemiBold", sans-serif;
}
._About_1d2pv_1 header._Header_1d2pv_13[data-v-701615b0] {
  font-size: 3rem;
}
._About_1d2pv_1 ._content_1d2pv_16[data-v-701615b0] {
  display: flex;
  flex-direction: column;
  width: 70%;
}