:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: #eceff4;
}

body,
html {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #282d39;
  /* background-image: linear-gradient(to top right, #2e3440, #3b4252, #434c5e); */
  text-align: center;
}
